django
djangorestframework
psycopg2-binary
python-decouple
django-cors-headers
djoser
djangorestframework-simplejwt
django-filter
pytest-django
gunicorn
whitenoise
celery
redis
PyJWT
requests
pillow
django-storages
python-dotenv
nltk
django-oauth-toolkit
coreapi
pyyaml
uritemplate
drf-yasg
social-auth-app-django
dj-database-url
boto3
django-celery-beat
django-celery-results
sentry-sdk
google-auth
cryptography
celery
djangorestframework
dotenv
