aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-types
anyio
asgiref
attrs
billiard
boto3
botocore
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coreapi
coreschema
cron-descriptor
cryptography
defusedxml
deprecation
dj-database-url
Django
django-celery-beat
django-celery-results
django-cors-headers
django-filter
django-oauth-toolkit
django-storages
django-templated-mail
django-timezone-field
djangorestframework
djangorestframework_simplejwt
djoser
dotenv
drf-yasg
frozenlist
google-auth
gotrue
gunicorn
h11
h2
hpack
httpcore
httpx
hyperframe
idna
inflection
iniconfig
itypes
Jinja2
jmespath
joblib
jwcrypto
kombu
MarkupSafe
multidict
nltk
oauthlib
packaging
pillow
pluggy
postgrest
prompt_toolkit
propcache
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
pytest
pytest-django
pytest-mock
python-crontab
python-dateutil
python-decouple
python-dotenv
python3-openid
pytz
PyYAML
realtime
redis
regex
requests
requests-oauthlib
rsa
s3transfer
sentry-sdk
setuptools
six
sniffio
social-auth-app-django
social-auth-core
sqlparse
storage3
StrEnum
supabase
supafunc
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
websockets
whitenoise
yarl
